<a href="https://colab.research.google.com/github/ARULDHAKSHANAMOORTHI/Projects/blob/main/Car_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#importing dataset
dataset=pd.read_csv('car_data.csv')
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [ ]:
#to check whether we can use it as it or there is a error in it
dataset['selling_price'].isnull().sum()

0

In [ ]:
dataset['fuel'].value_counts()

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

In [ ]:
dataset['seller_type'].value_counts()

seller_type
Individual          3244
Dealer               994
Trustmark Dealer     102
Name: count, dtype: int64

In [ ]:
x=dataset.iloc[:,[1,2,4,6]].values
y=dataset.iloc[:,2]

In [ ]:
x

array([[2007, 60000, 'Petrol', 'Manual'],
       [2007, 135000, 'Petrol', 'Manual'],
       [2012, 600000, 'Diesel', 'Manual'],
       ...,
       [2009, 110000, 'Petrol', 'Manual'],
       [2016, 865000, 'Diesel', 'Manual'],
       [2016, 225000, 'Petrol', 'Manual']], dtype=object)

In [ ]:
from sklearn.processing